#album div {
    display: flex;
}

#album section {
    width: 500px;
}

#album ul {
    border: 3px solid #ddd;
    padding: 0;
    border-radius: 5px;
    margin: 0 60px;
    width: 40%;
}

#album li:first-child {
    background-color: #f8f8f8;
    color: #9c9c9c;
    border-bottom: 3px solid #dfdfdf;
}

#album ul a {
    color: black;
}

#album hr {
    color: #dfdfdf;
    border: 0.5px solid;
    margin: 0;
}

@media screen and (max-width: 900px){
    #album div {
        display: block;
    }

    #album ul {
        margin: 30px 0;
        width: 500px;
    }
}

@media screen and (max-width: 500px){
    #album section {
        width: auto
    }

    #album img {
        width: 100%;
    }

    #album ul {
        width: auto;
    }

}